@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    justify-content: center;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 50px;
}

.soundtrack {
    width: 148px;
    height: 30px;
    display: flex;  
    gap: 8px;
    margin-top: 10px;
    margin-left: 0px;
}
.text-Soundtrack {
    width: 108px;
    height: 23px;
    top: 38px;
    margin-top: 4px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 1.0000001192092896px;
    text-align: left;
}

.box {
    width: 300px;
    height: 13px;
    margin-right: 900px;
    padding: 0px;
    gap: 49px;
    opacity: 0px;
    display: flex;
}

.Sign-up {
    width: 53px;
    height: 13px;
    position: absolute;
    right: 245px;
}

.login-box {
    width: 160px;
    height: 100px;
    border-radius: 0 0 0 50px;
    background: #f5f2ec;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 38px;
    height: 13px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.5000000596046448px;
    text-align: left;
}